/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&family=Open+Sans&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background-color: #F3F4F9;
  font-family: 'Roboto';
  color: #203cb3;
}

.study-browser-banner {
  background: rgb(2,21,70);
  color: white;
  padding: 1px;
  padding-left: 24px;
}

.logo{
  height: 35px;
  padding: 6px;
  margin-top: 3px;
}

.h2-title, .h2-title-mobile{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  letter-spacing: 3.8px;
  font-weight: 400;
  font-size: 30px;
}

.sub-title{
    font-family: 'Open Sans', sans-serif;
}

.h2-title-mobile{
  display: none;
}

h4{
    font-family: 'Montserrat';
    font-weight: 1000;
    font-size: 20px;
}

h5, h6{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
}

.bg-white{
  background-color: white;
  padding: 10px 10px;
  height: 80px;
}

.bg-white5{ /* for update section */
  background-color: white;
  font-family: 'Montserrat';
  padding: 10px 10px;
  height: 450px;
  margin-top: 10px;
}

.custom-background {
    background-color: white;
    padding: 10px 10px;
}

.bg-white2{ /* for keyword */
    font-family: 'Montserrat';
    background-color: white;
    padding: 10px 10px;
    height: 250px;
}

.publication{
    width: 330px;
    height: 150px;
}

.summary{
    width: 330px;
}

.bg-white3 { /* for professor and university */
    font-family: 'Montserrat';
    background-color: white;
    padding: 10px 10px;
    height: 180px;
}

.cytograph {
    font-family: 'Montserrat';
    margin-left: 50%;
}

.update-keyword{
    font-family: 'Montserrat';
    background-color: white;
    padding: 10px 10px;
    height: 100px;
}


.row.app-body .four.columns {
    margin: 0 1px; /* Adjust this value as needed to reduce the space */
}

.app-body{
  font-family: 'Montserrat';
  margin-left: 1%;
}

.card{
  padding:10px 24px 48px 10px;
  margin-left: 1%;
  margin-right: 1%;
}

.card-left{
  padding:10px 24px 30px 10px;
  margin-left: 1px;
  margin-bottom: 1%;
}

.padding-top-bot{
  padding-top: 1px;
  padding-bottom: 1px;
}

.Select-control{
  border: 1px solid #203cb3;
}

.legend {
    background-color: white;
    padding: 10px 10px;
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
  
.legend-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
  
.legend-label {
font-size: 14px;
color: gray;
}

.kpi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.kpi-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px; /* Adjust padding to control card height */
    margin: 10px;
    width: 300px; /* Set the desired card width */
    height: 60px; /* Set the desired card height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.kpi-card h2 {
    margin: 0;
    font-size: 18px;
}

.kpi-card .indicator-text {
    font-size: 15px; /* Adjust font size to fit the smaller card height */
    font-weight: bold;
}

.kpi-card .graph-container {
    height: 40px;
}

/* Customize colors to your preference */
.kpi-card .indicator-value {
    color: #2a6496;
}

/* Additional styles for number delta if needed */
.kpi-card .indicator-delta {
    font-size: 12px; /* Adjust font size to fit the smaller card height */
    color: #777;
}


@media only screen and (max-width: 320px){
  .Select-menu-outer, .Select-value{
    font-size: 10.5px;
  }
}