/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
  margin: 0px;
  padding: 0px;
  background-color: #F3F4F9;
  font-family: 'Roboto';
  color: #203cb3;
}

.study-browser-banner {
  background: rgb(2,21,70);
  color: white;
  padding: 1px;
  padding-left: 24px;
}

.logo{
  height: 35px;
  padding: 6px;
  margin-top: 3px;
}

.h2-title, .h2-title-mobile{
  font-family: 'Roboto';
  display: inline-block;
  letter-spacing: 3.8px;
  font-weight: 800;
  font-size: 20px;
}

.h2-title-mobile{
  display: none;
}

h4{
    font-family: 'Montserrat';
    font-weight: 1000;
    font-size: 20px;
}

h5, h6{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
}

h5{
  padding-left: 42px;
}

.bg-white{
  background-color: white;
  padding: 10px 10px;
  height: 80px;
}

.bg-white2{
    font-family: 'Montserrat';
    background-color: white;
    padding: 10px 10px;
    height: 250px;
}

.bg-white3{
    font-family: 'Montserrat';
    background-color: white;
    padding: 10px 10px;
    height: 100px;
}

.row.app-body .four.columns {
    margin: 0 1px; /* Adjust this value as needed to reduce the space */
}

.app-body{
  font-family: 'Montserrat';
  margin-left: 1%;
}

.card{
  padding:10px 24px 48px 10px;
  margin-left: 1%;
  margin-right: 1%;
}

.card-left{
  padding:10px 24px 30px 10px;
  margin-left: 1px;
  margin-bottom: 1%;
}

.padding-top-bot{
  padding-top: 1px;
  padding-bottom: 1px;
}

.Select-control{
  border: 1px solid #203cb3;
}

.legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .legend-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .legend-label {
    font-size: 14px;
    color: gray;
  }

@media only screen and (max-width: 320px){
  .Select-menu-outer, .Select-value{
    font-size: 10.5px;
  }
}